.vscode/**
.vscode-test/**
.cursor/**
.git/**
.github/**
out/**
node_modules/**
src/**
codex-acp/**
docs/**
.gitignore
.yarnrc
esbuild.js
esbuild.js.backup
vsc-extension-quickstart.md
**/tsconfig.json
**/tsconfig.test.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
log.txt
deploy_note.md
package.json.backup
pnpm-lock.yaml
system-prompt.txt
v0.0.11.png
